/*Обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  font-size: 16px;
  line-height: 24px;
}
a {
  color: #794f45;
}
h1 {
  font-size: 40px;
  line-height: 1;
  margin: 0px 0px 50px 0px;
}
h2 {
  font-size: 30px;
  line-height: 1;
  margin: 0px 0px 20px 0px;
}
ul {
  list-style: none;
}
/* ================ */
.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
/* ================ */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.name {
}

.header {
  background-color: #34454f;
  color: white;
  padding: 5px 0 10px;
  margin-top: 20px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.main {
  margin-top: 50px;
  display: flex;
}

.ramda {
}

.ulRamda {
  border: 2px solid #a8a8a8;
  max-height: 18vw;
  width: 100vh;
  display: flex;
  flex-direction: column;
}

.ulRamda li {
  padding: 20px 0 0 10px;
  font-weight: 500;
  color: #4bcbfe;
}

.imgText {
  margin-left: 50px;
}

img {
  border: 2px solid #a8a8a8;
  padding: 80px 300px;
}

.text {
  margin-top: 20px;
  font-weight: 600;
}

.footer {
  background-color: #a8a8a8;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.ulFooter {
  display: flex;
}

.ulFooter li {
  padding: 5px 0 0 20px;
}

.copy {
  padding: 5px;
}

.why {
  border-bottom: 1px;
  color: #103544;
  text-decoration: underline;
}
