Указываем box sizing *,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  box-sizing: content-box;
  max-width: 100%;
}

.header {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: green;
  font-weight: bold;
  padding: 10px 0;
  margin: 0 auto;
}

img {
  width: 100%;
}

.text {
  text-align: center;
  background-color: rgb(229, 226, 226);
}

.lorem {
  max-width: 1000px;
  font-weight: bold;
  box-sizing: content-box;
  margin: 20px auto 0;
  text-align: center;
}
.pres {
  padding-top: 20px;
}

.start {
  text-align: center;
  margin-top: 30px;
}

.button {
  width: 220px;
  height: 50px;
  background-color: rgb(39, 79, 28);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
}
